body {
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}

form input {
    padding: 1%;
    margin: 1%;
    border: 0 solid white;
    border-bottom:1px solid thistle;
}

input:focus {
    outline: none !important;
    border-bottom:1px solid cornflowerblue;
    box-shadow: 0 1px 1px cornflowerblue;
}

header {
    width: 100%;
    background-color: thistle;
}

footer {
    width: 100%;
    background-color: teal;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
}