header .nav-wrapper {
    background-color: #01252C;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: black;
    color: #81e291 !important;
}

main input {
    color: white;
}

.page-footer {
    background-color: #01252C !important;
    color: #81e291 !important;
}

.page-footer a {
    color: #81e291 !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.align-center { align-items: center; }
.text-center { text-align: center; }

/* Widths */
.w-10 { width: 10%; }
.w-50 { width: 50%; }
.w-100 { width: 100%; }

/* Heights */
.h-10 { height: 10%; }
.h-20 { height: 20%; }
.h-50 { height: 50%; }
.h-100 { height: 100%; }